<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragmentLayout :: headTag"/>
<body>
  <!-- Docs master nav -->
  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner" th:include="fragmentLayout :: headerTag"/>
  <!-- Main ================================================= -->
  <main id="content" role="main" class="intro-section" layout:fragment="mainContainer"/>
  <!-- / Main -->
  
  <!-- Footer ================================================= -->
  <footer class="bs-docs-footer" role="contentinfo" th:include="fragmentLayout :: footerTag"/>
  <!-- / footer -->
  
  <!-- Bootstrap core JavaScript ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <div th:include="fragmentLayout :: scriptTag"/>
  
  <!-- Custom JavaScript ========================================================== -->
  <div layout:fragment="customTag"/>
  
</body>
</html>