<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="default/layout">
<head lang="ko">
  <meta charset="utf-8" />
  <title th:text="#{view.label.home.title}">홈</title>
</head>
<body>
  <!-- header -->
  <!-- / header -->
  
  <!-- content -->
  <div class="container" layout:fragment="container">
  hellow world
  </div>
  <!-- / content -->
  
  <!-- footer -->
  <!-- / footer -->
</body>
</html>