<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="linearLayout">
<head>
  <title th:text="#{view.label.home.title}">홈</title>
</head>
<body>
  <div layout:fragment="contentTag">
    <div id="content" role="main" class="bs-intro-section">
	    <div class="container">
	      <h3 class="malgun-g">단기 일거리가 필요한 사람과 인력이 필요한 사람을 위한 서비스.</h3>
	      <p class="lead">오늘 저녁 7~10시까지 아기 돌봐줄 베이비시터...<i class="fa fa-arrow-circle-o-right"></i></p>	      
	      <p>
	        <a href="#"><button type="button" class="btn btn-success btn-custom">일감찾기</button></a>
	      </p>
	    </div>
	  </div>
    <!-- Docs page layout -->
    <div class="bs-center-tie">
		  <div class="container text-center">
        <p>
           <i class="fa fa-user"></i> <span th:text="#{view.label.signin.description}"> 페이스북, 트위터 계정으로 간편하게 로그인이 가능합니다. </span> 
           <a href="#" th:href="@{/auth/facebook?scope=email,offline_access}" class="btn btn-outline-inverse"><i class="fa fa-facebook"></i> 페이스북 로그인하기  </a>
           <a href="#" th:href="@{/auth/twitter}" class="btn btn-outline-inverse"><i class="fa fa-twitter"></i> 트위터 로그인하기</a>
        </p>
		  </div>
	  </div>
	</div>
  <div layout:fragment="customTag">
    <script src="http://maps.google.com/maps/api/js?sensor=true" cache="false"></script>
    <script src="../../resources/custom/js/maps/gmaps.js" th:src="@{/resources/custom/js/maps/gmaps.js}"></script>
    <script src="../../resources/custom/js/maps/demo.js" th:src="@{/resources/custom/js/maps/demo.js}"></script>
  </div>
</body>
</html>