<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="linearLayout">
<head lang="ko">
  <meta charset="utf-8" />
  <title th:text="#{view.label.home.title}">홈</title>
</head>
<body>
  
  <main id="content" role="main" class="intro-section" layout:fragment="mainContainer">
    <div class="container">
      <h1>Sharing Economy</h1>
      <p class="lead" th:text="#{view.label.brand.intro}"/>
      <p>
        <a href="#" th:href="@{/auth/facebook?scope=email,offline_access}" class="btn btn-outline-inverse"><i class="fa fa-facebook"></i> 페이스북 로그인하기</a>
        <a href="#" th:href="@{/auth/twitter}" class="btn btn-outline-inverse"><i class="fa fa-twitter"></i> 트위터 로그인하기</a>
      </p>
    </div>
  </main>
  
  <div layout:fragment="customTag">
    <script src="http://maps.google.com/maps/api/js?sensor=true" cache="false"></script>
    <script src="../../resources/custom/js/maps/gmaps.js" th:src="@{/resources/custom/js/maps/gmaps.js}"></script>
    <script src="../../resources/custom/js/maps/demo.js" th:src="@{/resources/custom/js/maps/demo.js}"></script>
  </div>
</body>
</html>